ascii-magic
asyncio
attrs
autocorrect
beautifulsoup4
blessings
boto3
bs4
#contextualSpellCheck
cryptography
dnspython==2.0.0
envelope
Faker
language_tool_python
latex2mathml
lxml
git+https://github.com/strikles/markdown-pp.git@master
markovify
mistune==2.0.2
nltk
numpy
pyOpenSSL
phonenumbers
Pillow
pyaxmlparser
pygments
pylatexenc
pyppeteer
pyspellchecker
pytgbot
python-dotenv
python-gnupg
python-magic
#python-magic-bin; platform_system == 'Windows'
pywhatkit
pywsd==1.0.4
PyYAML
qrcode
rdoclient
regex
requests-html
samila
scipy
service_identity
spacy
stdiomask
syllapy
sympy
termcolor
text_unidecode
tldextract
torrequest
tqdm
translators
treq
txtorcon
tsp_solver2
tweepy
twisted
urllib3
utils
validators
watchdog
