ascii-magic
attrs
autocorrect
beautifulsoup4
boto3
bs4
colorama
coloredlogs
#contextualSpellCheck
cryptography
Faker
fake-useragent
language_tool_python
latex2mathml
lxml
git+https://github.com/strikles/markdown-pp.git@master
markovify
mistune==2.0.2
nltk
numpy
pyOpenSSL
phonenumbers
Pillow
pyaxmlparser
pygments
pylatexenc
pyspellchecker
python-dotenv
python-gnupg
python-magic
#python-magic-bin; platform_system == 'Windows'
pywhatkit
pywsd==1.0.4
PyYAML
qrcode
rdoclient
regex
requests
samila
scipy
service_identity
spacy
stdiomask
syllapy
sympy
text_unidecode
tldextract
torrequest
tqdm
translators
treq
txtorcon
tsp_solver2
twisted
urllib3
utils
validators
watchdog
